<h1>Product Record Information</h1>
<h2>You have added a new product record!</h2>
<hr>
<h3>PRODUCT INFORMATION</h3>
<hr>
<p>
   <strong>Name:</strong> <%= @name %><br>
   <strong>Cost:</strong> <%= @cost %><br>
   <strong>Serial Number:</strong> <%= @serial %><br>
   <strong>Quantity:</strong> <%= @quantity %><br>
   <strong>Description:</strong> <%= @description %><br>
</p>
<br><a href="http://localhost:4567">&gt&gtHome&lt&lt</a>